footer{
    background-color: $soft-white-color;
    min-height: 500px;
    grid-template-rows: 90% 10%;
    @include grid-center;

    .main_container{
        @include padding-gap;
        display: flex;
        justify-content: center;

        .general_wrapper{
            display: grid;
            gap: 10px;

            p{
                color: gray;
                width: 450px;
            }
            .social_links_list{
                display: flex;
                
                li:nth-child(1){
                    margin-left: 0;
                }
                li{
                    margin-left: 20px;
                    .link{
                        .icon{
                            color: $gray-color;
                            font-size: 1.3rem;
                            transition: 250ms;
                        }
                        .icon:hover{
                            color: $dark-green;
                            transition: 250ms;
                        }
                    }
                }
            }

            .hotline_container{
                span:nth-child(1){
                    font-size: 1.3rem;
                    color: $dark-green;
                    margin-right: 10px;
                }
                span:nth-child(2){
                    font-size: 1.4rem;
                    color: $black-color;
                }
            }
        }

        .footer_list_wrapper{
            display: flex;

            .overview_list, .resources_list, .location_list{
                margin-left: 50px;
                display: grid;
                align-content: start;
                gap: 5px;

                li, .component_links{
                    color: $gray-color;
                }
                .list_header{
                    font-size: 1.1rem;
                    margin-bottom: 20px;
                    font-weight: 600;
                    color: $dark-green;
                }
            }
        }
    }

    .bottom_container{
        @include grid-center;
        background-color: $dark-green;
        width: 100%;
        height: 100%;
        color: $soft-white-color;
    }
}

@media (max-width: 1200px) {
    footer{
        .main_container{
            @include padding-gap;
            @include grid-center;
            gap: 50px;
            padding-top: 50px;
            padding-bottom: 50px;
    
            .general_wrapper{
                display: grid;
                justify-items: center;
                text-align: center;
    
                p{
                    color: gray;
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 630px) {
    footer{
        .main_container{
            @include padding-gap;
            @include grid-center;
            gap: 50px;
            padding-top: 70px;
            padding-bottom: 70px;
    
            .general_wrapper{
                display: grid;
                justify-items: center;
                text-align: center;
    
                p{
                    color: gray;
                    width: auto;
                }

                .hotline_container{
                    span:nth-child(1){
                        font-size: 1.2rem;
                    }
                    span:nth-child(2){
                        font-size: 1.3rem;
                    }
                }
                
            }

            .footer_list_wrapper{
                @include grid-center;
                gap: 50px;
                text-align: center;
                .overview_list, .resources_list, .location_list{
                    margin-left: 0;

                    .list_header{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}