@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-center {
    display: grid;
    justify-items: center;
    align-items: center;
}

@mixin grid-center-content {
    display: grid;
    justify-items: center;
    align-content: center;
}

@mixin add-to-cart-btn{
    .button_wrapper{
        width: 100%;
        @include grid-center;
        button:disabled{
            background-color: $gray-color;
            cursor: not-allowed;
        }
        button:disabled::before,
        button:disabled::after {
          background-color: transparent;
        }
        button {
            color: $soft-white-color;
            position: relative;
            width: 130px;
            height: 40px;
            background-color: $dark-green;
            overflow: hidden;
            margin-top: 10px;
        }
        button::before,
        button::after {
        content: '';
            position: absolute;
            width: 0;
            height: 3px;
            background-color: $light-green;
            transition: width 0.3s ease-in-out;
        }  
        button::before {
            top: 0;
            right: 0;
            transform-origin: right;
        }
        button::after {
            bottom: 0;
            left: 0;
            transform-origin: left;
        }
        button:hover::before,
        button:hover::after {
            width: 100%;
        }
    }
}

@mixin general-input{
    border: none;
    background-color: hsl(0, 0%, 93%);
    outline-color: $light-green;
    padding-left: 15px;
}

@mixin general-form-submit-button{
    position: relative;
    background-color: $dark-green;
    color: $soft-white-color;
    z-index: 1;
    font-size: 1rem;
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $light-green;
        width: 0;
        height: 100%;
        transition: 250ms;
    }

    &:hover {
        &::after {
            width: 100%;
            transition: 250ms;
        }
    }
}

@mixin general-header{
    .header{
        text-align: center;

        p{
            font-weight: 600;
            position: relative;
        }
        p:nth-child(1){
            color: $black-color;
            font-size: 1.1rem;
        }
        p:nth-child(2){
            color: $dark-green;
            font-size: clamp(1rem, 7vw, 2rem);
        }
    }
}

@mixin padding-gap {
    padding-left: 90px;
    padding-right: 90px;

    @media (max-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}