$dark-green: hsl(152, 81%, 19%);
$light-green: hsl(141, 41%, 53%);
$black-color: hsl(210, 4%, 9%);
$gray-color: hsl(0, 1%, 35%);
$soft-white-color: hsl(0, 20%, 99%);
$easeInOut: cubic-bezier(0.42, 0, 0.58, 1);
