$dark-green: hsl(152, 81%, 19%);
$light-green: hsl(141, 41%, 53%);
$black-color: hsl(210, 4%, 9%);
$gray-color: hsl(0, 1%, 39%);
$soft-white-color: hsl(0, 14%, 99%);
$easeInOut      : cubic-bezier(0.420, 0.000, 0.580, 1.000);