.main_contact{
    .form_header_section{
        @include padding-gap;
        display: grid;  
        grid-template-rows: 20% 80%;
        align-items: center;
        position: relative;
        top: 90px;
        margin-bottom: 90px;
        height: calc(100vh - 90px);
        min-height: 700px;

        .main_header{
            color: $black-color;
            font-weight: 600;
            font-size: 2rem;
        }

        .main_content_container{
            display: grid;
            gap: 100px;
            .textContainer{
                @include grid-center-content;
                gap: 20px;
                text-align: center;
                

                p:nth-child(1){
                    color: $black-color;
                    font-size: 1.7rem;
                    font-weight: 600;
                }
                p:nth-child(2){
                    color: $gray-color;
                    width: 700px;
                    justify-self: center;
                }
            }

            .contact_details_container{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                border-top: 1px solid $gray-color;
                padding-top: 50px;

                .detail_item_wrapper{
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .icon{
                        font-size: 4rem;
                        color: $light-green;
                    }
                    .detail_text_wrapper{
                        display: grid;
                        margin-left: 20px;
                        font-weight: 600;

                        span:nth-child(1){
                            color: $light-green;
                        }
                        span:nth-child(2), span:nth-child(3){
                            color: $gray-color;
                        }
                    }
                }
                .detail_item_wrapper:nth-child(2){
                    justify-self: center;
                    justify-content: center;
                }
                .detail_item_wrapper:nth-child(3){
                    justify-self: end;
                    justify-content: end;
                }
            }
        }
    }

    .mapbox_section{
        background-color: $black-color;
        width: 100%;
        height: 600px;

        .map_marker{
            @include flex-center;
            border: 1px solid $gray-color;
            width: 70px;
            height: 70px;
            border-radius: 50%;

            .icon{
                font-size: 1.5rem;
                color: $light-green;
            }
        }
    }

    .form_section{
        display: grid;
        gap: 50px;  
        margin-top: 100px;
        margin-bottom: 100px;
        
        .form_header{
            text-align: center;
            @include padding-gap;
            p:nth-child(1){
                font-size: clamp(1rem, 8vw, 2.2rem);
                font-weight: 600;
                color: $black-color;
            }
            p:nth-child(2){
                color: $gray-color;
            }
        }

        form{
            @include padding-gap;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 50px;
            row-gap: 25px;

            .input_wrapper{
                display: grid;
                width: 100%;
            }
            .input_wrapper:nth-child(3){
                grid-column: 1/3;
            }
            input{
                height: 60px;
            }
            input, textarea{
                border: none;
                background-color: #ececec;
                outline-color: $light-green;
                padding-left: 15px;  
            }
            ::placeholder{
                color: $gray-color;
                font-size: 0.9rem;
            }
            textarea{
                resize: none;
                height: 300px;
                width: 100%;
                padding-left: 15px;
                padding-top: 15px;
            }
            .submit_button{
                position: relative;
                z-index: 1;
                grid-row: 3;
                justify-self: start;
                background-color: $dark-green;
                width: 160px;
                height: 50px;
                color: $soft-white-color;
                font-size: 1rem;
            }
            .submit_button::after{
                content: '';
                z-index: -1;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $light-green;
                width: 0;
                height: 100%;
                transition: 250ms;
            }
            .submit_button:hover::after{
                width: 100%;
                transition: 250ms;
            }
        }

        @media (max-width: 580px){
            form{
                grid-template-columns: 100%;

                .input_wrapper:nth-child(2){
                    grid-row: 2;
                }
                .input_wrapper:nth-child(3){
                    grid-row: 3;
                    grid-column: 1;
                }
                .submit_button{
                    grid-row: 4;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .main_contact{
        .form_header_section{
            .main_content_container{
                .textContainer{
                    p:nth-child(2){
                        width: auto;
                    }
                }

                .contact_details_container{
                    grid-template-columns: 100%;
                    gap: 30px;

                    .detail_item_wrapper:nth-child(1){
                        margin-right: 40px;
                    }
                    .detail_item_wrapper{
                        justify-self: center !important;
                        justify-content: center !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px){
    .main_contact{
        .form_header_section{
            .main_content_container{
                .textContainer{
                    p:nth-child(2){
                        width: auto;
                    }
                }

                .contact_details_container{
                    .detail_item_wrapper{
                        .icon{
                            font-size: 3rem;
                        }
                        .detail_text_wrapper{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }  
}