.home_main {
    background-color: $soft-white-color;
    position: relative;
}

// hero section styles

.hero_section{
    @include padding-gap;
    @include grid-center;
    position: relative;
    height: 100vh;
    min-height: 700px;
    display: grid;
    gap: 50px;
    overflow-x: hidden;
    grid-template-columns: 50% 50%;

    .hero_article{
        display: grid;
        gap: 60px;
        .text-wrapper{
            display: grid;
            gap: 10px;
            .sub_header{
                font-weight: 600;
                color: $light-green;
            }
            h1{
                font-size: clamp(1rem, 8vw, 4rem); 
                width: 400px;
                line-height: 75px;
                color: $dark-green;
            }
            .main_text{
                color: $gray-color;
            }
        }

        .shop_now_btn{
            @include flex-center;
            background-color: $dark-green;
            width: 160px;
            height: 50px;
            border-radius: 5px;
            color: $soft-white-color;
            font-weight: 600;
            font-size: 0.9rem;
            border-radius: 4px;
            transition: 200ms;
            cursor: pointer;
            position: relative;
            border: 2px solid transparent;

            .cart_icon{
                margin-left: 10px;
            }
        }
        .shop_now_btn:hover{
            border-color: $light-green;
            letter-spacing: 2px;
        }
    }

    .image_slider{
        background-color: $black-color;
        height: 70%;
        width: 70%;
        position: relative;
        box-shadow: 5px 5px 15px rgb(48, 48, 48);

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}
.hero_section::after{
    content: '';
    background-color: $dark-green;
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}


// decorate section styles
.decorate_section{
    @include grid-center;
    width: 100%;
    grid-template-columns: 50% 50%;

    .article_container {
        display: grid;
        gap: 70px;
        @include padding-gap;
        
        .text_wrapper{
            display: grid;
            gap: 20px;
            .header{
                color: $dark-green;
                font-size: 2.5rem;
                width: 400px;
                line-height: 50px;

                span{
                    font-family: 'Libre Baskerville', serif;
                    color: $black-color;
                }
            }
            .text{
                color: $gray-color;
            }
        }
    }

    .icon_text_list{
        display: grid;
        gap: 20px;
        .list_item{
            display: flex;
            align-items: center;
            
            .content_wrapper{
                width: 100%;
                p:nth-child(1){
                    color: $dark-green;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                p:nth-child(2){
                    color: $gray-color;
                    font-size: 0.9rem;
                }
            }
        }
        .icon_wrapper{
            @include flex-center;
            background-color: $dark-green;
            width: 70px;
            height: 70px;
            border-radius: 50px;
            margin-right: 20px;
        }
    }

    .img_container{
        @include padding-gap;

        img{
            object-fit: fill;
            width: 100%;
            height: auto;
        }
    }
}


// top trending section styles
.trending_section{
    @include padding-gap;
    margin-top: 100px;

    .products_container{
        @include grid-center;
        gap: 40px;
        padding-bottom: 50px;
        border-bottom: 1px solid $gray-color;

        @include general-header;

        .image_container{
            display: flex;
            width: 100%;
            justify-content: space-between;
            img{
                width: 32%;   
                height: 550px;
            }
        }
    }

    .icons_container{
        display: flex;
        padding-top: 40px;
        
        .icon_wrapper:nth-child(1){
            margin-left: 0;
        }

        .icon_wrapper{
            margin-left: 50px;
            .text-container{
                display: grid;
                gap: 10px;
                p:nth-child(1){
                    color: $black-color;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
                p:nth-child(2){
                    color: $gray-color;
                } 
            }
        }
    }
}


// category section styles
.category_section{
    @include general-header;
    @include padding-gap;
    margin-top: 100px;

    .image_container, .small_image_container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .image_container{
        margin-top: 40px;
        .link{
            @include flex-center;
            position: absolute;
            bottom: 15%;
            left: 55%;
            transform: translate(-55%);
            justify-self: center;
            align-self: flex-end;
            color: $black-color;
            background-color: $soft-white-color;
            font-weight: 600;
            font-size: 0.8rem;
            width: min(180px, 50%);
            height: 40px;
            transition: 250ms;
        }
        .link:hover{
            background-color: $dark-green;
            color: $soft-white-color;
            transition: 250ms;
        }
    }
    .large_image_wrapper{
        position: relative;
        margin-right: 40px;
        height: calc(100% - 20px);
        img{
            width: 100%;
            height: 100%;
        }
        .link{
            bottom: 7.5%;
        }
    }
    .small_image_container{
        gap: 20px;
        .small_image_wrapper{
            display: grid;
            position: relative;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            img{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}


//testimonial section styles
.testimonial_section{
    height: 500px;
    width: 100%;
    background-color: hsl(141, 41%, 92%);
    margin-top: 100px;

    .slide_container{
        height: 100%;
        position: relative;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: $dark-green;
          }

        .slide_item{
            @include grid-center-content;
            gap: 20px;

            .star_rating_container{
                .star_icon{
                    color: $dark-green;
                    margin-left: 8px;
                }
                .star_icon:nth-child(1){
                    margin-left: 0;
                }
            }

            .rating_text{
                width: min(90%, 1400px);
                font-family: 'Libre Baskerville', serif;
                font-size: clamp(0.9rem, 4vw, 1.5rem); 
            }

            .person_details_container{
                @include grid-center;
                gap: 20px;
                img{
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                }
                p{
                    color: $black-color;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .hero_section{
        padding-top: 150px;
        padding-bottom: 90px;
        grid-template-columns: 100%;
        width: auto;
        height: auto;

        .image_slider{
            width: 100%;
            height: 500px;
        }
    }
    .hero_section::after{
        display: none;
    }


    .decorate_section{
        grid-template-columns: 100%;
        margin-top: 80px;

        .article_container {
            .text_wrapper{
                .header{
                    width: auto;
                }
            }
        }
    }

    .trending_section{
        .products_container{
            .image_container{
                img{
                    height: 300px;
                }
            }
        }

        .icons_container{
            display: grid;
            gap: 20px;
            grid-template-columns: 50% 50%;
    
            .icon_wrapper{
                margin-left: 0;
            }
        }
    }

    .category_section{    
        .image_container{
            grid-template-columns: 100%;
            .large_image_wrapper{
                margin-right: 0;
            }
            .small_image_container{
                row-gap: 20px;
                column-gap: 12px;
                min-height: 600px;
                .small_image_wrapper{
                    width: calc(100% - 12px);
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hero_section{    
        .hero_article{
            .text-wrapper{
                h1{
                    width: auto;
                    line-height: 50px;
                }
            }
        }
    }

    .trending_section{
        .products_container{
            .image_container{
                display: grid;
                grid-template-columns: 50% 50%;
                img{
                    width: 100%;
                    height: 300px;
                }
            }
        }

        .icons_container{
            display: grid;
            gap: 20px;
            grid-template-columns: 100%;
    
            .icon_wrapper{
                margin-left: 0;
            }
        }
    }

}

@media (max-width: 550px) {
    .category_section{    
        .image_container{
            row-gap: 10px;
            .small_image_container{
                grid-template-columns: 100%;
                row-gap: 30px;
                column-gap: 0;
                .small_image_wrapper{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .hero_section{
        .image_slider{
            height: 350px;
        }
    }

    .decorate_section{
        .icon_text_list{
            .list_item{
                @include grid-center;
                gap: 20px;
                text-align: center;
                align-items: center;
            }
            .icon_wrapper{
                margin-right: 0;
            }
        }
    }

    .trending_section{
        .products_container{
            .image_container{
                grid-template-columns: 100%;
                img{
                    height: 350px;
                }
            }
        }
    }
}