.home_main {
    background-color: $soft-white-color;
    position: relative;
}

// hero section styles

.hero_section {
    @include padding-gap;
    @include grid-center;
    position: relative;
    height: 100vh;
    min-height: 700px;
    gap: 50px;
    overflow-x: hidden;
    grid-template-columns: 50% 50%;

    .hero_article {
        display: grid;
        gap: 60px;
        .text-wrapper {
            display: grid;
            gap: 10px;
            .sub_header, h1, .main_text, .shop_now_btn{
                position: relative;
            }
            .sub_header {
                font-weight: 600;
                color: $light-green;
            }
            h1 {
                font-size: clamp(1rem, 8vw, 4rem);
                width: 400px;
                line-height: 75px;
                color: $dark-green;
            }
            .main_text {
                color: $gray-color;
            }
        }

        .shop_now_btn {
            @include flex-center;
            background-color: $dark-green;
            width: 160px;
            height: 50px;
            border-radius: 5px;
            color: $soft-white-color;
            font-weight: 600;
            font-size: 0.9rem;
            border-radius: 4px;
            transition: 200ms;
            cursor: pointer;
            border: 2px solid transparent;

            &:hover {
                border-color: $light-green;
                letter-spacing: 2px;
            }

            .cart_icon {
                margin-left: 10px;
            }
        }
    }

    .image_slide_container{
        position: relative;
        width: 70%;
        height: 70%;
        .image_slider {
            background-color: $black-color;
            height: 100%;
            width: 100%;
            position: relative;
            box-shadow: 5px 5px 15px hsl(0, 0%, 20%);
    
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}
.hero_section::after {
    content: "";
    background-color: $dark-green;
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

// decorate section styles
.decorate_section {
    @include grid-center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;

    .article_container {
        @include padding-gap;
        display: grid;
        gap: 70px;

        .text_wrapper {
            display: grid;
            gap: 20px;
            .header {
                color: $dark-green;
                font-size: 2.5rem;
                width: 400px;
                line-height: 50px;
                span{
                    position: relative;
                }
                span:nth-child(2) {
                    font-family: "Libre Baskerville", serif;
                    color: $black-color;

                }
            }
            .text {
                color: $gray-color;
                position: relative;
            }
        }
    }

    .icon_text_list {
        display: grid;
        gap: 20px;
        .list_item {
            display: flex;
            align-items: center;

            .content_wrapper {
                width: 100%;
                position: relative;
                p:nth-child(1) {
                    color: $dark-green;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                p:nth-child(2) {
                    color: $gray-color;
                    font-size: 0.9rem;
                }
            }
        }
        .icon_wrapper {
            @include flex-center;
            position: relative;
            background-color: $dark-green;
            width: 70px;
            height: 70px;
            border-radius: 50px;
            margin-right: 20px;
        }
    }

    .img_container {
        @include padding-gap;

        img {
            object-fit: fill;
            width: 100%;
            height: auto;
            position: relative;
        }
    }
}

// top trending section styles
.trending_section {
    @include padding-gap;
    margin-top: 100px;

    .products_container {
        @include general-header;
        @include grid-center;
        gap: 40px;
        padding-bottom: 50px;
        border-bottom: 1px solid $gray-color;

        .image_container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            img {
                width: 32%;
                height: 550px;
                position: relative;
            }
        }
    }

    .icons_container {
        display: flex;
        padding-top: 40px;

        .icon_wrapper:not(.icon_wrapper:nth-child(1)) {
            margin-left: 50px;
        }

        .icon_wrapper {
            .text-container {
                display: grid;
                gap: 10px;
                p:nth-child(1) {
                    color: $black-color;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
                p:nth-child(2) {
                    color: $gray-color;
                }
            }
        }
    }
}

// category section styles
.category_section {
    @include general-header;
    @include padding-gap;
    margin-top: 100px;
    display: grid;
    gap: 40px;

    .image_container,
    .small_image_container {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .image_container {
        gap: 40px;
        .link {
            @include flex-center;
            position: absolute;
            justify-self: center;
            align-self: flex-end;
            color: $black-color;
            background-color: $soft-white-color;
            font-weight: 600;
            font-size: 0.8rem;
            width: min(180px, 50%);
            height: 40px;
            margin-bottom: 40px;
            transition: 250ms;

            &:hover {
                background-color: $dark-green;
                color: $soft-white-color;
                transition: 250ms;
            }
        }
    }
    .large_image_wrapper {
        position: relative;
        display: grid;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .small_image_container {
        position: relative;
        gap: 40px;
        .small_image_wrapper {
            display: grid;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}

//testimonial section styles
.testimonial_section {
    height: 500px;
    width: 100%;
    background-color: hsl(141, 41%, 92%);
    margin-top: 100px;

    .slide_container {
        height: 100%;
        position: relative;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: $dark-green;
        }

        .slide_item {
            @include grid-center-content;
            gap: 20px;

            .star_rating_container {
                .star_icon:not(.star_icon:nth-child(1)) {
                    margin-left: 8px;
                }
                .star_icon {
                    color: $dark-green;
                }
            }

            .rating_text {
                width: min(90%, 1400px);
                font-family: "Libre Baskerville", serif;
                font-size: clamp(0.9rem, 4vw, 1.5rem);
            }

            .person_details_container {
                @include grid-center;
                gap: 20px;
                img {
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                }
                p {
                    color: $black-color;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .hero_section {
        padding-top: 150px;
        padding-bottom: 90px;
        grid-template-columns: 100%;
        height: auto;

        .image_slide_container{
            position: relative;
            width: 100%;
            height: 550px;
        }
        .image_slider {
            width: 100%;
            height: 550px;
        }
    }
    .hero_section::after {
        display: none;
    }

    .decorate_section {
        grid-template-columns: 100%;
        margin-top: 80px;

        .article_container {
            .text_wrapper {
                .header {
                    width: auto;
                }
            }
        }
    }

    .trending_section {
        .products_container {
            .image_container {
                img {
                    height: 300px;
                }
            }
        }

        .icons_container {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);

            .icon_wrapper {
                margin-left: 0 !important;
            }
        }
    }

    .category_section {
        .image_container {
            grid-template-columns: 100%;
        }
    }
}

@media (max-width: 768px) {
    .hero_section {
        .hero_article {
            .text-wrapper {
                h1 {
                    width: auto;
                    line-height: 50px;
                }
            }
        }
    }

    .trending_section {
        .products_container {
            .image_container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                img {
                    width: 100%;
                    height: 300px;
                }
            }
        }

        .icons_container {
            display: grid;
            gap: 20px;
            grid-template-columns: 100%;

            .icon_wrapper {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 550px) {
    .category_section {
        .image_container {
            .small_image_container {
                grid-template-columns: 100%;
            }
        }
    }
}

@media (max-width: 425px) {
    .hero_section {
        .image_slider {
            height: 350px;
        }
    }

    .decorate_section {
        .icon_text_list {
            .list_item {
                @include grid-center;
                gap: 20px;
                text-align: center;
                align-items: center;
            }
        }
    }

    .trending_section {
        .products_container {
            .image_container {
                grid-template-columns: 100%;
                img {
                    height: 350px;
                }
            }
        }
    }
}