.main_shop{
    .shop_section{
        @include padding-gap;
        margin-top: 150px;
        .header{
            font-size: 2rem;
            font-weight: 600;
            color: $black-color;
        }

        .shop_filter{
            .filter_list{
                display: flex;

                .filter_item:nth-child(1){
                    margin-left: 0;
                }
                .filter_item{
                    margin-left: 20px;
                    button{
                        color: $black-color;
                        font-size: 1rem;
                    }  
                    .activeButton{
                        transition: 250ms;
                        color: $dark-green;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                }
            }
        }

        .shop_items_container{
            margin-top: 50px;
            display: grid;
            column-gap: 50px;
            grid-template-columns: repeat(4, 1fr);

            .item{
                width: 100%;
                height: 420px;
                margin-bottom: 150px;
                position: relative;
                .image_loader{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    animation: loading 1.5s linear infinite alternate;
                }
                .showImage{
                    display: block;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }
                .item_text_wrapper{
                    @include add-to-cart-btn;
                    position: relative;
                    .text_loader{
                        position: absolute;
                        z-index: 5;
                        width: 100%;
                        height: 100%;
                        display: grid;
                        gap: 10px;
                        margin-top: 5px;
                        span{
                            width: 100%;
                            height: 10px;
                            display: block;
                            animation: loading 1.5s linear infinite alternate;
                        }
                    }
                    .item_description{
                        text-align: center;
                    }
      
                }

                @keyframes loading {
                    0% {
                      background-color: hsl(200, 20%, 70%);
                    }
                    100% {
                      background-color: hsl(200, 20%, 95%);
                    }
                }
            }
        }

        .item_description_container{
            @include grid-center;
            @include padding-gap;
            position: absolute;   
            overflow-y: auto;
            opacity: 0;
            width: 100%;
            height: 100%;
            min-height: fit-content;
            padding-top: 50px;
            top: 0;
            z-index: 5;
            left: -100%;
            background-color: $soft-white-color;
            transition: 250ms;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 40px;

            nav{
                @include padding-gap;
                display: grid;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                height: 100px;
                width: 100px;

                button{
                    font-size: 1.5rem;
                    color: $light-green;
                    border: 1px solid $dark-green;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transition: 200ms;
                }
                button:hover{
                    background-color: $light-green;
                    color: $soft-white-color;
                    transition: 200ms;
                }
            }
            .image_container {
                width: 100%;
                height: 100%;
                @include grid-center;
              
                img {
                  width: 70%;
                  height: 60%;
                }
              }
            .content_container{
                @include add-to-cart-btn;
                display: grid;
                gap: 30px;
                align-content: center;

                .quantity{
                    display: flex;
                }
                .add_to_cart_btn_2{
                    justify-self: left;
                }
            }
        }
        .description_isopen{
            opacity: 1;
            transform: translateX(100%);
            transition: 250ms;
        }


        @media (max-width: 1440px) {
            .shop_items_container{
                margin-bottom: 80px;
                grid-template-columns: repeat(3, 1fr);
            }
        }
        @media (max-width: 1024px) {
            .shop_items_container{
                grid-template-columns: repeat(2, 1fr);
            }

            .item_description_container{
                grid-template-columns: 100%;

                .image_container{
                    width: 100%;
                    height: 100%;
                    justify-items: left;
                    img{
                        width: clamp(50%, 70vw, 100%);
                        height: auto;
                        object-fit: cover;
                    }
                }
                .content_container{
                    align-content: center;
                    padding-bottom: 50px;
                    padding-top: 50px;
                }
            }
        }
        @media (max-width: 650px) {
            .shop_items_container{
                grid-template-columns: repeat(1, 1fr);
            }

            .shop_filter{
                .filter_list{
                    display: grid;
    
                    .filter_item{
                        margin-left: 0;
                    }
                }
            }

            .item_description_container{
                .image_container{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}