@import "utilities/variables";
@import "utilities/mixins";

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: $soft_white_color;
}
::-webkit-scrollbar-thumb {
    background-color: $light_green; 
    border-radius: 6px; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: $dark_green;
}

@import "base/reset";

@import "layout/navigation";
@import "layout/footer";
@import "layout/cart-modal";

@import "pages/home";
@import "pages/about";
@import "pages/shop";
@import "pages/contact";
